# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.ilk
Debug/tls-parser.pdb
*.sdf
tls-parser.sln
*.suo
tls-parser/Debug/cl.command.1.tlog
*.tlog
tls-parser/Debug/tls-parser.lastbuildstate
*.log
tls-parser/Debug/vc110.pdb
*.idb
tls-parser/ReadMe.txt
tls-parser/stdafx.cpp
tls-parser/tls-parser.vcxproj
*.filters
tls-parser/tls-parser.vcxproj.user
tls-parser/targetver.h
tls-parser/stdafx.h
